<% content_for :head do %>
  <%= stylesheet_link_tag "animals-bundle", :media => "all" %>
  <script type='text/javascript'>
    window.controller = "<%= controller_name %>";
  </script>  
<% end %>

<div class="container-fluid">
  <div class="animal_begin text-center">
    <div class="row">
      <div class="col-xs-12 head">
        <div class="img-container">
          <%=image_tag "animals/logo.png", :alt => "logo", :class => 'img-responsive' %>
          <h4 class='col-xs-12 head'>MBTI性格分析:你是哪种动物?神准!</h4>
          <h5 class='col-xs-12 desc'>MBTI是一个4维人格评估指标。每个维度有两个可能性,因此该方法可以根据16人格类型进行分类,每种类型的人格都以4个字母加以描述。</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-12 cbody">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <a class='btn btn-block animals start'><h4>&nbsp;</h4></a>
          </div>
        </div>
  		<div class="row">
    		<div class="btn-container col-xs-10 col-xs-offset-1">
      			<div class="row">
        			<div class="col-xs-6"><button class="btn btn-block social share"><i class="fa fa-share-alt"></i>一键分享</button></div>
        			<div class="col-xs-6"><button class="btn btn-block social foc"><i class="fa fa-plus"></i><a href='http://mp.weixin.qq.com/s?__biz=MjM5NTAzMjc1NA==&mid=205607402&idx=5&sn=43ec7c71541d7d7e180be4c1689b01d5#rd' class='link'>关注我们</a></button></div>
      			</div>
    		</div>
  		</div>
      </div>
    </div>
    <div class="row">
    	<div class="col-xs-12 bottom">
    		<span class='copyright'>©问卷吧</span>
    	</div>
    </div>
  </div>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <%=image_tag "surveys/share.png", :alt => "share",:class => 'img-responsive  share-btn'%>
      </div>
    </div>
  </div>




</div>
