@import "compass";
@import "surveys/*.png";
html,body{
	background:image-url("surveys/BG.png") no-repeat center center;
}
.container-fluid{
	color:#fff;
	height:100%;
	.begin,.question,.result{
		display:none;
	}

hr{
	border : 0;
	height : 2px;
	background:image-url("surveys/btn-bg.png") repeat-x;
	margin : 0px;
}
	.begin,.result{
		.head{
			.img-container{
				margin-top:36px;
				@include clearfix;
				img{
					margin-bottom: 10px;
				}
			}
			h4,h5{
				font-weight:normal !important;
			}
			span.num{
				margin:0px 6px;
			}
		}
		.cbody{
			margin:50px 0px;
			&#cbody{
				margin:20px 0px;
			}
			button.start{
				background:#f36f6e;
			}
			button.share{
				margin-top:20px;
				color:#fff;
				background:image-url("surveys/btn-bg.png");
				i{
					margin-right:8px;
				}
			}
		}
	}
	.question{
		font-size:14px;
		.img-container{
			// margin-top:36px;
			@include clearfix;
			img{
				margin-bottom: 10px;
				padding-left:0px;
				padding-right:0px;
			}
		}
		.q-info{
			text-align:left;
			h4{
				line-height: 2em;
				margin-top:0px;
			}
		}
		// hr{
		// 	margin:0px;
		// 	border : 0;
    //   height : 15px;
		// 	background:image-url("surveys/btn-bg.png") repeat-x;
    //   margin : 1em 0;
		// }
		.radio{
			i{
				display:inline-block;
				width:20px;
				height:20px;
				float:left;
			}
			.selection{
				display:inline-block;
				float:left;
				margin-top:5px;
				margin-bottom:5px;
			}
			&.active{
				i{
					color:#f36f6e;
				}
			}
		}
		button.next{
			color:#fff;
			background:#f36f6e;
		}
		.remainder{
			margin-bottom:10px;
			color:#f36f6e;
		}
	}
	button{
		color:#fff;
		outline:none;
		&:hover,&:active{
			color:#fff;
		}
	}
	span.score{
		color:#f36f6e;
		font-size:24px;
	}
	.result-desc{
		text-indent: 2em;
		line-height: 2em;
	}
	.modal-content{
		background:none !important;
		img.share-btn{
			position:absolute;
			top:5px;
			left:5px;
		}
	}


}
